body {
    padding: 20px;
}

.main-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.product-component {
    flex: 1 1 50%;
}

.chat-component {
    flex: 1 1 50%;
}

.main-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-table-container {
    max-height: 450px;
    overflow-y: auto;
}

.custom-table {
}

.product-img {
    width: 50px;
    height: 50px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 300px;
    overflow-y: auto;
}

.email-text {
    color: blue;
}

.date-text {
    color: crimson;
}

.message-text {
    color: green;
}

.avatar-image {
    width: 25px;
    margin-left: 10px;
}

.messages-container {
    display: flex;
    justify-content: center;
}

.button-send {
    margin-left: 10px;
}

.form-button-group {
    margin-top: 10px;
}


.form-container-login {
    background: #f0f0f0;
    padding: 50px;
    border-radius: 30px;
}

.login-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 56px;
}

.message-error {
    margin: 0;
    color: red;
    margin-top: 10px;
}
.message-success {
    margin: 0;
    color: #07aa00;
    margin-top: 10px;
}

.logout-container {
    display: flex;
    justify-content: space-between;
    background: #b0ffe7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.logout-container h1 {
    color: #006d05;
}