/03_Servidor_Express/node_modules
/04_Rutas_Express/node_modules
/05_Handlebars/node_modules
/06_Socket.io/node_modules
/07_Primera_Entrega/node_modules
/08_Socket.io_db/node_modules
/09_Segunda_Entrega/node_modules
/09_Segunda_Entrega/.env
/10_Normalizr/node_modules
/10_Normalizr/.env
/11_Sessions/.env
/11_Sessions/node_modules
/12_Authorization/.env
/12_Authorization/node_modules
/13_Process/node_modules
/14-ClousterFork/node_modules
/15_Logger_GZIP/node_modules
/16_Tercera_Entrega/node_modules
/17_Capas/node_modules
/17_Capas/.env
/18_Capas_mejora/.env
/18_Capas_mejora/node_modules
/19_Test/node_modules
/19_Test/.env
/20_GraphQL/node_modules
/20_GraphQL/.env
/21_nest/node_modules
/21_nest/.env