<form id="formLogin" class="form-container-login">
    <h1 class="login-title">LOGIN</h1>
    <div class="form-group">
        <label for="userName">Nombre de usuario</label>
        <div class="d-flex">
            <input type="text" class="form-control" name="userName" id="userName" placeholder="Ingrese su usuario" required>
            <button type="submit" class="button-send btn btn-primary">Entrar</button>
        </div>
    </div>

    <p id="messages-error" class="message-error"></p>
</form>